{% extends 'layout/base.html' %}

{% block title %}
<title>About InkSpre</title>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">About Us</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Company Description</h2>
            <p>At InkSpire, we are passionate about bringing the world of literature and knowledge to readers
                everywhere. With years of experience in the digital publishing industry, we have curated a vast
                collection of high-quality electronic books that cater to various interests and genres.</p>
        </div>
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>Our mission is to empower readers to explore new worlds, gain knowledge, and find inspiration through our
                diverse range of electronic books. We believe that everyone should have access to enriching content that
                stimulates imagination and personal growth.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Our Team</h2>
            <p>Behind InkSpire, there is a dedicated team of book enthusiasts, technologists, and content
                curators. With a shared love for literature and a commitment to delivering exceptional reading
                experiences, our team works tirelessly to ensure that our digital library remains updated, relevant, and
                engaging.</p>
        </div>
        <div class="col-md-6">
            <h2>Unique Features</h2>
            <ul>
                <li><strong>Extensive Collection:</strong> Our online store boasts a vast collection of electronic books
                    spanning various genres, ensuring that there is something for every reader.
                </li>
                <li><strong>User-Friendly Interface:</strong> We have designed an intuitive and user-friendly platform
                    that makes browsing, purchasing, and reading e-books a seamless experience.
                </li>
                <li><strong>Personalized Recommendations:</strong> Our advanced recommendation system suggests books
                    tailored to each reader's preferences, helping them discover new authors and genres they'll love.
                </li>
            </ul>
        </div>
    </div>

    <div class="mt-4">
        <h2>Privacy Policy</h2>
        <p>At InkSpire, we take the privacy and security of our customers' personal information seriously. We
            have implemented robust data protection measures to ensure the confidentiality and integrity of any data
            collected. Our Privacy Policy outlines the types of data we collect, how we use it, and the steps we take to
            safeguard it. Rest assured that we never share personal information with third parties without explicit
            consent.</p>
    </div>
</div>
{% endblock %}
