{% extends 'layout/base.html' %}

{% block title %}
<title>{{ book.title }}</title>
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-12 col-lg-5">
                <img class="img-fluid" src="{{ book.image_url() }}" alt="Book Cover" style="width: 400px; height: 600px; object-fit: cover;">
            </div>
            <div class="col-12 col-lg-7">
                <h2>{{ book.title }}</h2>
                <p class="lead">${{ book.price }}</p>
                <p class="text-muted"> by {{ book.author }}</p>
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
