{% extends 'layout/base.html' %}

{% block title %}
<title>{{ book.title }}</title>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-12 col-lg-5">
                <img class="img-fluid" src="{{ book.image_url() }}" alt="Book Cover"
                     style="width: 500px; height: 500px; object-fit: cover;">
            </div>
            <div class="col-12 col-lg-7">
                <h2>{{ book.title }}</h2>
                <p class="lead">${{ book.price }} <a class="lead btn btn-sm btn-outline-dark mx-5 btn-buy">Purchase <i class="bi bi-bag"></i></a></p>
                <p class="text-muted"> by {{ book.author }}</p>
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
</section>
<script>
    // JavaScript-код на вашей странице
var buyButton = document.querySelector('.btn-buy');

buyButton.addEventListener('click', function() {
    // Создайте платежный запрос
    fetch('/create-payment-intent', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ amount: {{ book.price * 100 }}, currency: 'usd', book_id: '{{ book.id }}' }) // Укажите цену вашей книги
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(data) {
        // Получите clientSecret из ответа
        var clientSecret = data.clientSecret;

        // Создайте платежную сессию через Stripe Checkout
        var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        stripe.redirectToCheckout({
            sessionId: clientSecret
        })
        .then(function(result) {
            console.error(result.error.message);
        });
    })
    .catch(function(error) {
        console.error(error);
    });
});
</script>
{% endblock %}
