{% extends 'layout/base.html' %}

{% block title %}
<title>Signing in</title>
{% endblock %}
s
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mt-2">
        <div class="col-md-6">
            <form method="POST" class="form">
                {{ form.hidden_tag() }}
                <div class="row my-3">
                    <label for="username" class="form-label text-muted">Username:</label>
                    {{ form.username(class="col-8 form-control", id="username") }}
                </div>
                <div class="row my-3">
                    <label for="password" class="form-label text-muted">Password:</label>
                    {{ form.password(class="col-8 form-control", id="password") }}
                </div>
                <div class="row my-3 justify-content-center">
                    <div class="col-4">
                        {{ form.submit(class="col-10 btn btn-outline-dark") }}
                    </div>
                </div>
            </form>
            <div class="text-muted text-center m-3">Do not have an account? <a href="{{ url_for('register') }}">Sign up</a></div>
        </div>
    </div>
</div>
{% endblock %}